In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('emails.csv')

In [3]:
df

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5728 rows x 2 columns]

In [4]:
df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [5]:
df.spam.value_counts()

0    4360
1    1368
Name: spam, dtype: int64

In [6]:
df.shape

(5728, 2)

In [7]:
df.isnull().sum()

text    0
spam    0
dtype: int64

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.shape

(5695, 2)

In [10]:
import nltk
import string

In [11]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\MMasum\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [12]:
from nltk.corpus import stopwords, words

# Text Preprocessing

In [13]:
def clean_text(text):
    rp = [char  for char in text if char not in string.punctuation]# remove speacie char(! , . ? /"")
    rp = ''.join(rp)
    
    
    rw = [ word for word in rp.split() if word.lower not in stopwords.words('english')]
    return rw

In [14]:
 df['text']. head ()

0    Subject: naturally irresistible your corporate...
1    Subject: the stock trading gunslinger  fanny i...
2    Subject: unbelievable new homes made easy  im ...
3    Subject: 4 color printing special  request add...
4    Subject: do not have money , get software cds ...
Name: text, dtype: object

In [15]:
df['text'].head().apply(clean_text)

0    [Subject, naturally, irresistible, your, corpo...
1    [Subject, the, stock, trading, gunslinger, fan...
2    [Subject, unbelievable, new, homes, made, easy...
3    [Subject, 4, color, printing, special, request...
4    [Subject, do, not, have, money, get, software,...
Name: text, dtype: object

# Feature Extraction

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [17]:
message = TfidfVectorizer(analyzer=clean_text).fit_transform(df['text'])

In [18]:
x = df['text']

In [19]:
y = df['spam']

In [20]:
x.shape

(5695,)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
xtrain,xtest,ytrain,ytest = train_test_split(message, y, test_size =.30, random_state = 42)

In [23]:
xtrain.shape

(3986, 37380)

In [24]:
xtest.shape

(1709, 37380)

# Multinomial Naive Bayes

In [25]:
from sklearn.naive_bayes import MultinomialNB

In [26]:
model = MultinomialNB()

In [27]:
model.fit(xtrain,ytrain)

MultinomialNB()

In [28]:
model.score(xtest,ytest)

0.8367466354593329

# Bernoulli Naive Bayes

In [29]:
from sklearn.naive_bayes import BernoulliNB

In [30]:
B_model = BernoulliNB()

In [31]:
B_model.fit(xtrain, ytrain)

BernoulliNB()

In [32]:
B_model.score(xtest,ytest)

0.976009362200117